# Dependencies
node_modules
.pnpm-store

# Build outputs
.next
dist
out
output

# Turbo
.turbo

# Env
.env
.env.local
.env*.local

# Vercel
.vercel

# OS
.DS_Store
Thumbs.db

# Editor
.vscode
.idea
*.swp
